.scroll {
  width: 100%;
  height: 98vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  margin: 0;
}

.scroll section {
  scroll-snap-align: start;
}

section {
  height: 100vh;
}

::-webkit-scrollbar {
  width: 10px;
  height: 100vh;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar-track {
  background: #7272728c;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 15px;
}
